<div [formGroup]="addHeroForm">
  <app-loading [hidden]="!isLoading"></app-loading>
  <div [hidden]="isLoading" class="submit-form">
    <h4>{{ id ? 'Edit' : 'Add new' }} Hero</h4>
    <div [hidden]="isSubmitted">
      <div class="form-group">
        <div class="form-group">
          <label for="name">Name <span lass="danger">*</span></label>
          <input
            class="form-control"
            id="name"
            required
            name="name"
            formControlName="name"
            appUppercase />
          <div
            *ngIf="
              addHeroForm.get('name')?.invalid &&
              (addHeroForm.get('name')?.dirty ||
                addHeroForm.get('name')?.touched)
            "
            class="alert alert-danger">
            <div *ngIf="addHeroForm.get('name')?.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="addHeroForm.get('name')?.errors?.['minlength']">
              id must be at least 8 characters long.
            </div>
            <div *ngIf="addHeroForm.get('name')?.errors?.['maxlength']">
              Name must be not more than 50 characters long.
            </div>
            <div *ngIf="addHeroForm.get('name')?.errors?.['nameValidErr']">
              name is already taken
            </div>
          </div>
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            formControlName="description"
            rows="3">
          </textarea>
          <app-uploader
            (sendImageName)="handleImageName($event)"></app-uploader>

          <div formGroupName="powerstats">
            <h6>Power stats</h6>
            <label for="intelligence">Intelligence</label>
            <input
              class="form-control"
              id="intelligence"
              name="intelligence"
              formControlName="intelligence" />
            <label for="strength">Strength</label>
            <input
              class="form-control"
              id="strength"
              name="strength"
              formControlName="strength" />
            <label for="speed">Speed</label>
            <input
              class="form-control"
              id="speed"
              name="speed"
              formControlName="speed" />
            <label for="durability">Durability</label>
            <input
              class="form-control"
              id="durability"
              name="durability"
              formControlName="durability" />
            <label for="power">Power</label>
            <input
              class="form-control"
              id="power"
              name="power"
              formControlName="power" />
            <label for="combat">Combat</label>
            <input
              class="form-control"
              id="combat"
              name="combat"
              formControlName="combat" />
          </div>
        </div>
        <div>
          <button
            [disabled]="!addHeroForm.valid"
            (click)="saveHero()"
            class="btn btn-success"
            appOffline>
            Submit
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isSubmitted">Hero successfully created</div>
  </div>
</div>
