<div class="input-group">
  <input
    [(ngModel)]="searchQuery"
    type="text"
    class="form-control"
    placeholder="Search text"
    aria-label="Search text in Name and Description"
    aria-describedby="button-addon4" />
  <div class="input-group-append" id="button-addon4">
    <button
      class="btn btn-outline-secondary"
      (click)="onSearch()"
      type="button">
      Search
    </button>
    <button class="btn btn-outline-secondary" (click)="onClear()" type="button">
      Clear
    </button>
  </div>
</div>
